@font-face {
  font-family: "TitilliumText22L_light", sans-serif;
  src: url("../fonts/TitilliumText22L_light.otf") format("opentype");
}
@font-face {
  font-family: "TitilliumText22L_medium";
  src: url("../fonts/TitilliumText22L_medium.otf") format("opentype");
}
body {
  color: #afafaf;
  font-family: "TitilliumText22L_light", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "TitilliumText22L_medium";
}

h1 {
  color: #fff;
}

.container-fluid {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  height: 100%;
  padding: 55px 0;
}

.logo, .logo2, .www {
  display: inline-block;
  mix-blend-mode: soft-light;
}

.logo {
  width: 112px;
}

.logo-small {
  width: 75px;
}
