@font-face {
  font-family: "TitilliumText22L_light", sans-serif;
  src: url("../fonts/TitilliumText22L_light.otf") format("opentype");
}
@font-face {
  font-family: "TitilliumText22L_medium";
  src: url("../fonts/TitilliumText22L_medium.otf") format("opentype");
}
body {
  color: #afafaf;
  font-family: "TitilliumText22L_light", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "TitilliumText22L_medium";
}

h1 {
  color: #fff;
}

.container-fluid {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 55px 0;
}

.logo {
  mix-blend-mode: soft-light;
  width: 429px;
}

.logo2 {
  mix-blend-mode: soft-light;
  width: 353px;
}

.title {
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(43, 1, 0, 0.75);
}

.sign-in-form,
.recover-form,
.register-form,
.subscribe-form {
  margin-bottom: 2em;
}

@media (min-width: 992px) {
  .sign-in-form,
  .send-email,
  .recover-form,
  .register-form,
  .subscribe-form {
    width: 94.385%;
  }
}

.border-box {
  background-color: rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1.25em;
}

.register-form-box {
  border-radius: 3px;
  padding: 1em;
}

.fa {
  color: #dedede;
  width: 16px;
}

.btn {
  font-family: "TitilliumText22L_medium";
  height: 3rem;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.8);
}

.button-small {
  width: 8.75rem;
}

.button-big-font {
  font-size: 1.5rem;
}

.button-small-font {
  font-size: 1.125rem;
}

.form-control,
.form-control::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #afafaf;
}

.form-control,
.form-control::placeholder,
.form-control::-webkit-input-placeholder {
  color: #afafaf;
}

.form-control:focus {
  border-color: #addc54;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(163, 216, 64, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(163, 216, 64, 0.25);
}

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #addc54;
}

.custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0 2px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.3);
}

.custom-checkbox .custom-control-indicator {
  border-radius: .15rem;
}

.btn-success {
  background: -webkit-gradient(linear, left top, left bottom, from(#addc54), to(#7ec31f));
  background: linear-gradient(to bottom, #addc54 0%, #7ec31f 100%);
  border-color: #3b9a00;
}

.btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #addc54;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-danger {
  background: -webkit-gradient(linear, left top, left bottom, from(#f76f7f), to(#f03747));
  background: linear-gradient(to bottom, #f76f7f 0%, #f03747 100%);
}

option:checked {
  background-color: #addc54;
  border-color: #fff;
}
