@font-face {
  font-family: "TitilliumText22L_light", sans-serif;
  src: url("../fonts/TitilliumText22L_light.otf") format("opentype");
}
@font-face {
  font-family: "TitilliumText22L_medium";
  src: url("../fonts/TitilliumText22L_medium.otf") format("opentype");
}
body {
  color: #afafaf;
  font-family: "TitilliumText22L_light", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "TitilliumText22L_medium";
}

h1 {
  color: #fff;
}

.container-fluid {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 55px 0;
}

.logo {
  mix-blend-mode: soft-light;
  width: 429px;
}

.logo2 {
  mix-blend-mode: soft-light;
  width: 353px;
}

.title {
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(43, 1, 0, 0.75);
}

.sign-in-form,
.recover-form,
.register-form,
.subscribe-form {
  margin-bottom: 2em;
}

.border-box {
  background-color: rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1.25em;
}

.register-form-box {
  border-radius: 3px;
  padding: 1em;
}
