$red: #f03747;
$red-light: #f76f7f;
$red-dark: #a2202a;
$green: #7ec31f;
$green-light: #addc54;
$green-dark: #3b9a00 ;
$white: #fff;

$gray: #afafaf;
$gray-light: lighten($gray, 40%);

$text-primary: $white;

$body-bg: $gray;
$body-color: $white;

$font-size-base: 1.4rem;
$display1-size: 12vw;
$lead-font-size: 1.65rem;

$btn-padding-y: .7em;
$btn-padding-x: 2em;