// FONTS

$main-font: "TitilliumText22L_light", sans-serif;
$title: "TitilliumText22L_medium";
$header-font: $title;

// COLORS

$red: #f03747;
$red-light: #f76f7f;
$red-dark: #a2202a;

$green: #7ec31f;
$green-light: #addc54;
$green-dark: #3b9a00;

$white: #fff;

$gray: #afafaf;
$gray-light: #dedede;

$text-primary: $white;

$font-size-base: 1.4rem;
$display1-size: 12vw;
$lead-font-size: 2rem;

$btn-width: 8.75rem;